<div id="page-content-wrapper" >
  <div class="navbar-wrapper" style="margin-top: 0px; background-color: #00897B;" >
      <div class="container container-navbar" style="margin-top: 20px;">
          <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container ">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation </span>
                          <span class="icon-bar">
                          </span>
                          <span class="icon-bar">
                          </span>
                          <span class="icon-bar">
                          </span>
                      </button>
                      <a class="navbar-brand my-cursor" >Admin Page</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li ng-class="{ active : tab.comics }">
                              <a ng-click="switchTab(true)">Comics</a>
                          </li>
                          <li ng-class="{ active: tab.users }">
                              <a ng-click="switchTab(false)">Users</a>
                          </li>
                          <li>
                              <a ng-click="logout()" >Logout</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>
  </div>
  <div ng-show="tab.comics">
      <!--panel create comic-->
      <div class="panel panel-default panel-size">
          <div class="panel-heading">
              <h3 class="panel-title">Create Comic</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <label>Title:</label>
                  <input type="text" name="title" ng-model="comic.title" style="width:150px;"/>
                </div>
                <div class="col-md-4">
                  <label>Characters:</label>
                  <input type="text" name="characters" ng-model="comic.characters" style="width:150px;"/>
                </div>
                <div class="col-md-4">
                  <label>Publisher:</label>
                  <input type="text" name="publisher" ng-model="comic.publisher"  style="width:69px;"/>
                </div>
                <div class="col-md-4">
                  <label style="width:87px;">Year:</label>
                  <input type="text" name="year" ng-model="comic.year" style="width:50px;"/>
                </div>
                <div class="col-md-4">
                  <label>Number:</label>
                  <input type="text" name="number" ng-model="comic.number" style="width:28px;"/>
                </div>
                <div class="col-md-4">
                  <label>Genre:</label>
                  <input type="text" name="genre" ng-model="comic.genre" style="width:100px;"/>
                </div>
                <div class="col-md-4">
                  <input type="checkbox" name="special" ng-model="comic.special"  />
                  <label>Special Edition</label>
                </div>
                <div class="col-md-4">
                  <label>Popularity Rank:</label>
                  <input type="text" name="popularityRank" ng-model="comic.popularityRank" style="width:25px;"/>
                </div>
                <div class="col-md-4">
                  <label>Cover Image:</label>
                  <input type="text" name="year" ng-model="comic.coverImage" style="width:130px;"/>
                </div>
              </div>
              <input type="button" class="btn" style="margin-top:10px;" value="create" ng-click="createComic(comic)"/>
              <p>{{message}}</p>
          </div>
      </div>
      <!--panel create comic-->

      <!-- Marketing messaging and featurettes	   ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <!-- Three columns of text below the carousel -->
      <div class="row marketing">
          <div class="col-lg-4" ng-repeat="comic in comics  ">
              <img class="img-circle" ng-src="{{comic.coverImage}}" alt="Generic placeholder image" width="140" height="140">
              <h2 style="height:70px">{{comic.title}} ({{comic.date}})</h2>
              <div style="height:110px;">
                  <p ng-repeat="character in comic.characters">{{character}}</p>
              </div>
              <p>{{comic.edition.publisher}}</p>
              <p ng-show="comic.borrowed">
                  <a class="btn btn-default" role="button">Return Comic &raquo;</a>
              </p>
              <p ng-hide="comic.borrowed">
                  <a class="btn btn-default" role="button" ng-click="removeComic(comic)">Remove &raquo;</a>
              </p>
          </div>
          <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>

    <div ng-show="tab.users">
      <div class="panel panel-default panel-size">
          <div class="panel-heading">
              <h3 class="panel-title">Admin Users</h3>
          </div>
          <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th> <th>Username</th> <th>Password</th> <th>Save</th> <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in users track by $index">
                    <th scope="row">{{$index}}</th>
                     <td>
                       <input ng-hide="user.username=='admin'" type="text" style="width:80px" ng-model="user.username"/>
                       <div ng-show="user.username=='admin'" ng-bind="user.username"/>
                     </td>
                     <td>
                       <input ng-hide="user.username=='admin'" type="text" style="width:80px" ng-model="user.password"/>
                       <div ng-show="user.username=='admin'" ng-bind="user.password"/>
                     </td>
                     <td>
                       <a ng-hide="user.username=='admin'" ng-click="saveUser($index,user)" class="glyphicon glyphicon-ok" aria-hidden="true"></a>
                     </td>
                     <td>
                       <a ng-hide="user.username=='admin'" ng-click="removeUser($index)" class="glyphicon glyphicon-remove" aria-hidden="true"></a>
                     </td>
                  </tr>
                </tbody>
              </table>
              <p>{{message}}</p>
          </div>
      </div>

    </div>

      <!-- /.container -->
      <footer class="footer" style="background-color: #3F51B5">
          <div>
              <p class="pull-right">
                  <a>Back to top</a>
              </p>
              <p>&copy; 2016 Company, Inc. &middot; <a>Site map</a> &middot; <a>Facebook</a> &middot; <a>Terms</a>
              </p>
          </div>
      </footer>
</div>
