<link rel="stylesheet" href="styles/detail.css" />
<h1 class="title">{{comic.title}} ({{comic.date}})</h1>
<div class="login-page">
  <div class="form">
    <div class="register-form" >
      <div class="row">
        <img  ng-src="{{comic.coverImage}}" class="col-md-6 img-comic"/>
        <div class="col-md-6">
          <h5>Characters: {{detail.getCharacters(comic.characters)}}</h5><br/>
          <h5>Publisher: {{comic.publisher}}</h5><br/>
          <h5>Number: {{comic.number}}</h5><br/>
          <h5>Genre: {{comic.genre}}</h5><br/>
          <h5>Stars: {{comic.starsAverage}}
            <span class="glyphicon glyphicon-star" ng-repeat="n in [] | stars:comic.starsAverage"/>
          </h5><br/>
          <h5>Recomended: {{comic.recomended?'Yes':Nou}}</h5><br/>
          <h5>Views: {{comic.searchRank}}</h5><br/>
          <h5>Times Read: {{comic.timesBorrowed}}</h5><br/>
          <input ng-show="!comic.borrowed" ng-click="detail.borrow()" class="btn btn-primary" type="button" value="borrow"/>
          <input ng-show="detail.canReturn(comic)" ng-click="detail.return()" class="btn btn-primary" type="button" value="return"/>
        </div>
      </div>
      <div class="row">
        <ul>
          <h2>Coments</h2>
          <li ng-repeat="comment in comic.comments">
              <blockquote>
                {{comment.comment}}
                <cite class="clearfix">—{{comment.user}} </cite>
              </blockquote>
            </li>
          </ul>

          <!--  Review Form -->
          <form name="reviewForm" ng-submit="reviewForm.$valid && detail.addReview(detail.review)" novalidate>

            <!--  Review Form -->
            <h4>Submit a Coment</h4>
            <fieldset class="form-group">
              <select ng-model="detail.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                <option value="">Rate the Comic</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <textarea ng-model="detail.review.comment" class="form-control" placeholder="Write a short review of the comic..." title="Review"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="submit" class="btn btn-primary " value="Submit Review" />
            </fieldset>
          </form>


      </div>
    </div>
  </div>
</div>
