<div class="navbar-wrapper" style="margin-top: 202px;" >
    <navbar></navbar>
</div>
<!--comic container -->
<div ng-controller="ComicsController">
<!-- Carousel   ================================================== -->
<carousel></carousel>
<!-- /.carousel -->
<div id="wrapper" class="toggle toggled">
  <sidebar></sidebar>
  <div id="page-content-wrapper">
      <span id="sorting-toggle"  class="btn btn-sort glyphicon glyphicon-sort-by-attributes">
      </span>
      <profile-detail></profile-detail>
      <div class="general-search">
        <span class= "glyphicon glyphicon-search"></span><input class="input-search" type="text" placeholder="Search" ng-model="generalSearch">
      </div>
      <panel-filter></panel-filter>

      <!-- Wrap the rest of the page in another container to center all the content. -->
      <!-- Three columns of text below the carousel -->
      <comics-container></comics-container>
      <!-- /.row -->

      <!-- /.container -->
      <footer class="footer">
          <div>
              <p class="pull-right">
                  <a>Back to top</a>
              </p>
              <p>&copy; 2016 Company, Inc. &middot; <a>Site map</a> &middot; <a>Facebook</a> &middot; <a>Terms</a>
              </p>
          </div>
      </footer>
</div>

</div>
<!--comic container -->
<!-- FOOTER -->
