<link rel="stylesheet" href="styles/login.css" />
<h1 class="title">Comic Store</h1>
<div class="login-page">
  <div class="form">
    <form name="loginForm" class="register-form" ng-submit="loginForm.$valid && login.catchform(login.user)" novalidate>
      <strong class="message">{{login.message}}</strong>
      <input type="text" ng-model="login.user.username" placeholder="username" required/>
      <input type="password" ng-model="login.user.password" placeholder="password"  required/>
      <input ng-show="login.user.new" type="password"  ng-model="login.user.repeatPassword" placeholder="repeat password" ng-required="login.user.new"/>
      <input type="submit" class="button" ng-show="!login.user.new"  value="login"></input>
      <input type="submit" class="button" ng-show="login.user.new"  value="register"></input>
      <p class="message" ng-show="!login.user.new">Not registered? <a ng-click="login.user.new=true">Create an account</a></p>
      <p class="message" ng-show="login.user.new">Already registered? <a ng-click="login.user.new=false">Login</a></p>
    </form>
  </div>
</div>
