<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item" ng-repeat="comic in comics | filter :{specialEdition:true} track by $index" ng-class="{ active: $index == 0 }" >
            <img class="first-slide" ng-src="{{comic.coverImage}}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <a style="color: white;"href="/#/view/{{comic.id}}"><h1>{{comic.title}}</h1><a/>
                    <!--             <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p>
                      <a class="btn btn-lg btn-primary" role="button">Sign up today</a>
                    </p>           -->
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script type="text/javascript">
  $('.carousel').carousel();
  $('.right.carousel-control').click(function(){$('.carousel').carousel('next')});
  $('.left.carousel-control').click(function(){$('.carousel').carousel('prev')});
</script>
