<div class="row marketing">
    <div class="col-lg-4" ng-repeat="comic in comics| mycomics : tab.profile | bygenre:generes | filter : generalSearch | filter : {publisher:publisherSelect} | filter : {date:year} | filter : {number:number} |  filter : {specialEdition:special} | bynews : tab.news | bycharacter:characters | orderBy : sortableBy track by $index  ">
        <img class="img-circle" ng-src="{{comic.coverImage}}" alt="Generic placeholder image" width="140" height="140">
        <br/><br/><span class="glyphicon glyphicon-star" ng-repeat="n in [] | stars:comic.starsAverage"/>
        <h2 style="height:70px">{{comic.title}} ({{comic.date}})</h2>
        <div style="height:110px;">
            <p ng-repeat="character in comic.characters">{{character}}</p>
        </div>
        <p>{{comic.publisher}}</p>
        <p >
            <a class="btn btn-default" href="#/view/{{comic.id}}" role="button">View &raquo;</a>
        </p>
    </div>
    <!-- /.col-lg-4 -->
</div>
