<div class="container container-navbar">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand my-cursor" >{{site.title}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active : tab.generes }">
                        <a ng-click=" tab.generes = !tab.generes">Generes</a>
                    </li>
                    <li ng-class="{ active: tab.editions }">
                        <a ng-click="tab.editions = !tab.editions">Editions</a>
                    </li>
                    <li ng-class="{ active : tab.news }">
                        <a ng-click="tab.news = !tab.news">News</a>
                    </li>
                    <li ng-class="{ active: tab.characters }">
                        <a ng-click="tab.characters = !tab.characters" >Characters</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret">
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">My Profile</li>
                            <li style="display:flex;">
                                <a ng-click="tab.profile=!tab.profile">Borrowed<span class="{{tab.profile?'glyphicon glyphicon-ok':''}}" style="padding-left:25%;"/></a>
                            </li>
                            <li role="separator" class="divider">
                            </li>
                            <li>
                                <a ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
