<!--panel Filter Generes-->
<div class="panel panel-default panel-size" ng-show="tab.generes">
    <div class="panel-heading">
        <h3 class="panel-title">Filter By : Generes</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <label  class="col-md-4" ng-repeat="genere in allGeneres">
              <input type="checkbox" checklist-model="generes" checklist-value="genere"> {{genere}}
            </label>
        </div>
    </div>
</div>
<!--panel filter-->

<!--panel Filter Edition-->
<div class="panel panel-default panel-size" ng-show="tab.editions">
    <div class="panel-heading">
        <h3 class="panel-title">Filter By : Edition</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <label for="publisherSelect"> Publisher: </label>
            <select name="publisherSelect" ng-model="publisherSelect">
              <option value="">--</option>
              <option ng-repeat="publisher in publishers" value="{{publisher}}">{{publisher}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label> Year:</label>
            <input type="text" name="year" ng-model="year" maxlength="4" style="width:50px;"/>
          </div>
          <div class="col-sm-3">
            <label>Number:</label>
            <input type="text" name="number" ng-model="number" maxlength="4" style="width:25px;"/>
          </div>
          <div class="col-sm-3">
            <input type="checkbox" name="special" ng-model="special"  />
            <label>Special Edition</label>
          </div>
        </div>
    </div>
</div>
<!--panel filter-->

<!--panel Filter Characters-->
<div class="panel panel-default panel-size" ng-show="tab.characters">
    <div class="panel-heading">
        <h3 class="panel-title">Filter By : Character</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          <label  class="col-md-4" ng-repeat="character in allCharacters">
            <input type="checkbox" checklist-model="characters" checklist-value="character"> {{character}}
          </label>
        </div>
    </div>
</div>
<!--panel filter-->
