<div class="panel panel-default panel-size" ng-show="tab.profile">
    <div class="panel-heading">
        <h3 class="panel-title">My Profile ({{user}})</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="text-align:center;">
            <label  >
              <h3 >My Borrowed Comics</h3>
            </label>
        </div>
    </div>
</div>
