<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
              Sort by
      </li>
      <li>
          <a ng-click="sortableBy='-popularityRank'"><span class="glyphicon glyphicon-fire"> </span> Popularity</a>
      </li>
      <li>
          <a ng-click="sortableBy='-starsAverage'"><span class="glyphicon glyphicon-star"> </span> Stars</a>
      </li>
      <li>
          <a ng-click="sortableBy='-searchRank'"><span class="glyphicon glyphicon-search"> </span> Most Searches</a>
      </li>
      <li>
          <a ng-click="sortableBy='-recomendationRank'"><span class="glyphicon glyphicon-gift"> </span> Recommended</a>
      </li>
  </ul>
</div>

<script type="text/javascript">
  $("#sorting-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  $(window).on("scroll", function(){
    if($(".toggle.toggled").length==0){
        $("#wrapper").toggleClass("toggled");
    }
  });
</script>
