.container-navbar{
  width : 60%;
}

.panel-size{
  width: 58%;
  margin-left: 21%;
}

.general-search{
  width: 40%;
  padding: 2%;
  margin-left: 30%;
}
.input-search{
  width: 90%;
  margin-left: 3%;
}

.footer{
  background-color : #009688;
  height : 55px;
  border-radius: 4px;
  width: 80%;
  margin-left: 10%;
}

.btn-sort{
  background-color: #2196F3;
  border-radius: 100;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  position: fixed;
  top:58%;
  margin-left: -2%;
  z-index: 50;
}

.footer div {
  position: absolute;
  width: 70%;
  margin: 17px;
}

.footer p a {
  color : white;
}

a{
  cursor: pointer;
}
